{% extends 'base.html' %}
{% block content %}
  <h1>Login</h1>

  <form action="" method=post id="credentials">
      Email: <input type="text" name="email" id="email"><br>
      Password: <input type="text" name="password" id="password"><br>
      <input type="submit" value="Login">
  </form>
    <script src="https://code.jquery.com/jquery.js"></script>
  <script>

function returnFunction(results){
  if (results == 'That password is incorrect!'){
    window.location.assign("/login");
  }
  else if (results == 'You are now logged in'){
    window.location.assign("/");
  }
  else {
    window.location.assign("/register");
  }
}

function validateCredentials(evt){
  var formInputs= {
    'email' : $("#email").val(),
    'password' : $("#password").val(),
  };

  $.post('/login', formInputs, returnFunction);

  evt.preventDefault();
}


$('#credentials').on('submit', validateCredentials);
</script>
{% endblock %} 
